<%= link_to user_path(user.id) do %>
  <article class="user-container d-flex m-auto justify-content-center">
    <img src="<%= user.photo %>" alt="<%= user.name %>'s avatar" width="200" height="172.44">
    <div class="user-card d-lg-flex align-items-center border rounded py-4 px-5 ms-5">
      <h4 class="ps-1"><%= user.name %><sub>(<%= user.role %>)</sub></h4>
      <p class="ps-5 mx-5 mt-5">Number of posts: <%= user.posts.count%></p>
    </div>
  </article>
  <br>
<% end %>  
