<% flash.each do |type, msg| %>
  <div width="350">
    <%= msg %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  </div>
<% end %>

<%= render partial: 'shared/user', locals: { user: @user } %>

<% if @posts.any? == false %>
  <p>There are no posts yet !!!</p>
<% end %>

<h1>All posts</h1>
<% @posts.each do |post| %>
  <%= render partial: 'shared/post', locals: { post: post, length: 20 } %>
  <% if can? :destroy, post %>
      <%= button_to 'Delete post', user_post_path(@user, post), method: :delete, data: { confirm: "Are you sure you want to delete #{post.title}?" }, class: 'delete btn btn-primary text-end' %>
  <% end %>
  <%= render partial: 'shared/comment', collection: post.recent_comments, locals: { post: @post, user: @user } %>
<% end %>

<div class="add-post-btn d-flex">
  <button>
    <%= link_to "Add Post", new_user_post_path(@user)%>
  </button>
</div>

<div class="text-center my-3">
  <button>Pagination</button>
</div>
